*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*Temp*/
    border: solid black 1px;
}

body {
    background: white;
    color: black;
    display: grid;
    grid-template: auto / 1fr 1fr 1fr 1fr 1fr;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

nav{
    grid-column: span 5;
}

header{
    grid-column: span 5;
    display: grid;
    grid-template: auto / 2fr 3fr;
}

img{
    width: 100%;
    height: auto;
}

aside{
    grid-column: span 1;
}

main{
    grid-column: span 4;
}

section{
    display: grid;
    grid-template: auto / 1fr 1fr 1fr;
    gap: 16px;
    margin-top: 16px;
}